---
const { title, icon, text } = Astro.props;
import { Image } from "astro:assets";
---

<article class="flex flex-col-reverse my-6 xl:max-w-[365px]">
  <div>
    <h3 class="my-6">{title}</h3>
    <p class="">{text}</p>
  </div>
  <div>
    <Image src={icon} alt="" />
  </div>
</article>
