---
const {field, measurement} = Astro.props
---
<label for={field}>{field}</label>
<div class="input-container mt-2 w-4/5 max-w-[18.75rem]">
	<input id={field} name={field} type="number"  value="" placeholder="0">
	<span class="input-container-span ">{measurement === 'metric' ? 'CM' : }</span>
</div>

