@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oxygen&family=Oxygen+Mono&display=swap");

/* -------------------------------- GLOBAL -------------------------------- */

* {
	box-sizing: border-box;
}

body {
	background: #fafafa;
	font-family: "Overpass", sans-serif;
}

button {
	background-color: transparent;
	border: none;
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
	line-height: inherit;
	padding: 0;
}

.hide {
	position: absolute;
	left: -9999px;
	top: -9999px;
}

.button {
	border-radius: 28px;
	font-family: Ubuntu, sans-serif;
	font-size: 16px;
	font-weight: 700;
	padding: 15px 16px;
	text-decoration: none;
	text-align: center;
	max-width: 137px;
	cursor: pointer;
}

.button-white {
	background-color: white;
	color: #ff505c;
	transition: all 0.1s ease-in-out;
}

.button-white:hover {
	background-color: #ff7b86;
	color: white;
	transition: all 0.1s ease-in-out;
}

.button-color {
	background: linear-gradient(135deg, #ff8f71 0%, #ff3e55 100%);
	color: white;
	font-size: 16px;
	transition: all 0.1s ease-in-out;
}

.button-color:hover {
	background: white;
	color: #ff7b86;
	transition: all 0.1s ease-in-out;
}

.button-blank {
	border: 1px solid #fff;
	color: white;
	font-size: 16px;
	transition: all 0.1s ease-in-out;
}

.button-blank:hover {
	background-color: #fff;
	color: #ff7b86;
	transition: all 0.1s ease-in-out;
}

/* -------------------------------- BURGER -------------------------------- */

.burger {
	height: 36px;
	width: 64px;
	padding: 0 16px;
	cursor: pointer;
}

.bar {
	height: 2px;
	width: 32px;
	background-color: #fff;
}

.bar:nth-child(1) {
	transition: transform 0.2s linear;
}

.bar:nth-child(2) {
	margin: 6px auto;
	transition: margin 0.2s 0.2s linear, background-color 0s 0.2s linear;
}

.bar:nth-child(3) {
	transition: transform 0.2s linear;
}

.toggle .bar:nth-child(2) {
	margin: -2px auto;
	background-color: transparent;
	transition: margin 0.2s linear, background-color 0s 0.2s linear;
}
.toggle .bar:nth-child(1) {
	transform: rotate(45deg);
	transition: transform 0.2s 0.2s linear;
}
.toggle .bar:nth-child(3) {
	transform: rotate(-45deg);
	transition: transform 0.2s 0.2s linear;
}

/* -------------------------------- HEADER -------------------------------- */

.header {
	z-index: 2;
	color: #fff;
	width: 100vw;
	background-color: transparent;
	position: absolute;
	top: 56px;
}

.header nav {
	position: relative;
	display: flex;
	justify-content: space-between;
	width: 90%;
	margin: auto;
}

/* ------------- Dropdown -------------- */

.dropdown-links {
	background-color: #fff;
	padding: 15px;
	width: 90%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 45px);
	border-radius: 5px;
}

.dropdown-links button {
	color: #1f3e5a;
	cursor: pointer;
	margin: 12px auto;
	position: relative;
	font-size: 18px;
	padding: 12px;
	display: flex;
}
.dropdown-links button::before {
	background: url(./images/icon-arrow-dark.svg) no-repeat;
	content: "";
	height: 10px;
	width: 10px;
	position: absolute;
	right: -8px;
	top: 17px;
}

.dropdown-links ul {
	margin: 0 auto;
	color: #1f3e5a;
	font-size: 16px;
	background-color: rgba(151, 151, 151, 0.08);
	border-radius: 5px;
	padding: 12px 25px;
	width: 80%;
}
.dropdown-links li {
	list-style-type: none;
	margin-bottom: 12px;
}

.dropdown {
	visibility: hidden;
	position: absolute;
}

.dropdown ul {
	text-align: center;
}

.dropdown ul li {
	margin: 24px auto;
}

.dropdown a {
	text-decoration: none;
	color: #1f3e5a;
}

.active {
	position: relative;
	visibility: visible;
}

.hidden-burger-dropdown {
	display: none;
}

.connection ul {
	background-color: transparent;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	border-top: 1px solid #e8e4e4;
	margin-top: 24px;
	padding-top: 24px;
}

.connection ul a {
	color: inherit;
	text-decoration: none;
}

.connection ul .button {
	margin: auto;
	min-width: 137px;
}

/* -------------------------------- Hero -------------------------------- */

.hero {
	background: -400px url(../images/bg-pattern-intro-mobile.svg),
		linear-gradient(135deg, #ff8f71 20%, #ff3e55 120%);
}

.hero {
	/* background: -300px url(../images/bg-pattern-intro-desktop.svg),
		linear-gradient(135deg, #ff8f71 0%, #ff3e55 100%); */
	height: 600px;
	width: 100%;
	border-radius: 0px 0px 0px 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: column;
	padding-top: 40px;
	color: #fff;
	padding: 0 24px;
}

.hero h2 {
	font-weight: 600;
	font-size: 36px;
	text-align: center;
	letter-spacing: -1.08px;
	line-height: normal;
	font-style: normal;
	margin: -2px 10px;
}
.hero p {
	font-size: 18px;
	font-weight: 400;
	text-align: center;
}
.hero .buttons {
	margin-top: 38px;
}
