@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oxygen&family=Oxygen+Mono&display=swap");
/* -------------------------------- MOBILE -------------------------------- */
/* -------------------------------- GLOBAL -------------------------------- */
* {
	box-sizing: border-box;
}

body {
	font-family: "Overpass", sans-serif;
	background: #FAFAFA;
}

button {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	font-style: inherit;
	line-height: inherit;
	padding: 0;
	border: none;
	background-color: transparent;
}

.hide {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

.button {
	font-family: Ubuntu, sans-serif;
	font-size: 16px;
	font-weight: 700;
	max-width: 137px;
	padding: 15px 16px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	border-radius: 28px;
}

.button-white {
	transition: all 0.1s ease-in-out;
	color: #FF505C;
	background-color: white;
}

.button-white:hover {
	transition: all 0.1s ease-in-out;
	color: white;
	background-color: #FF7B86;
}

.button-color {
	font-size: 16px;
	transition: all 0.1s ease-in-out;
	color: white;
	background: linear-gradient(135deg, #FF8F71 0%, #FF3E55 100%);
}

.button-color:hover {
	transition: all 0.1s ease-in-out;
	color: #FF7B86;
	background: white;
}

.button-blank {
	font-size: 16px;
	transition: all 0.1s ease-in-out;
	color: white;
	border: 1px solid #FFF;
}

.button-blank:hover {
	transition: all 0.1s ease-in-out;
	color: #FF7B86;
	background-color: #FFF;
}

/* -------------------------------- BURGER -------------------------------- */
.burger {
	width: 64px;
	height: 48px;
	padding: 16px 16px 0;
	cursor: pointer;
}

.bar {
	width: 32px;
	height: 2px;
	background-color: #FFF;
}

.bar:nth-child(1) {
	position: relative;
	top: 0;
	transition: all 0.2s linear, top 0.2s 0.2s linear;
}

.bar:nth-child(2) {
	margin: 6px auto;
	transition: margin 0.2s 0.2s linear,
	background-color 0s 0.2s linear;
}

.bar:nth-child(3) {
	transition: transform 0.2s linear, top 0.2s 0.2s linear;
	position: relative;
	top: 0;
}

.toggle .bar:nth-child(2) {
	transition: background-color 0s 0.2s linear;
	background-color: transparent;
}

.toggle .bar:nth-child(1) {
	top: 8px;
	transition: top 0.2s linear, transform 0.2s 0.2s linear;
	transform: rotate(45deg);
}

.toggle .bar:nth-child(3) {
	top: -8px;
	transition: transform 0.2s 0.2s linear, top 0.2s linear;
	transform: rotate(-45deg);
}

/* -------------------------------- HEADER -------------------------------- */
.header {
	position: absolute;
	z-index: 2;
	top: 56px;
	width: 100vw;
	color: #FFF;
	background-color: transparent;
}

.header nav {
	position: relative;
	display: flex;
	justify-content: space-between;
	width: 90%;
	margin: auto;
}

/* ------------- Dropdown -------------- */
.dropdown-links {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 90%;
	padding: 15px;
	transform: translate(-50%, 45px);
	border-radius: 5px;
	background-color: #FFF;
}

.dropdown-links button {
	font-size: 18px;
	position: relative;
	display: flex;
	margin: 12px auto;
	padding: 12px;
	cursor: pointer;
	color: #1F3E5A;
}

.dropdown-links button::before {
	position: absolute;
	top: 17px;
	right: -8px;
	width: 10px;
	height: 10px;
	content: "";
	transition: transform 0.1s linear;
	background: url(./images/icon-arrow-dark.svg) no-repeat;
}

.dropdown-links button:hover::before {
	transition: transform 0.1s linear;
	transform: rotate(90deg);
}

.dropdown-links ul {
	font-size: 16px;
	width: 80%;
	margin: 0 auto;
	padding: 12px 25px;
	color: #1F3E5A;
	border-radius: 5px;
	background-color: rgba(151, 151, 151, 0.08);
}

.dropdown-links li {
	margin-bottom: 12px;
	list-style-type: none;
}

.dropdown {
	position: absolute;
	visibility: hidden;
}

.dropdown ul {
	text-align: center;
}

.dropdown ul li {
	margin: 24px auto;
}

.dropdown a {
	text-decoration: none;
	color: #1F3E5A;
}

.dropdown a:hover {
	color: #2A89DD;
}

.active {
	position: relative;
	visibility: visible;
}

.hidden-burger-dropdown {
	display: none;
}

.connection ul {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 24px auto 0;
	padding: 24px 0;
	text-align: center;
	border-top: 1px solid #E8E4E4;
	background-color: transparent;
}

.connection ul li:first-child {
	margin-bottom: 24px;
}

.connection ul a {
	text-decoration: none;
	color: inherit;
}

.connection ul a:hover {
	color: #2A89DD;
}

.connection ul .button {
	min-width: 137px;
	margin: auto;
}

/* -------------------------------- Hero -------------------------------- */
.hero {
	background: -400px url(./images/bg-pattern-intro-mobile.svg),
	linear-gradient(135deg, #FF8F71 20%, #FF3E55 120%);
}

.hero {
	/* background: -300px url(../images/bg-pattern-intro-desktop.svg),
		linear-gradient(135deg, #ff8f71 0%, #ff3e55 100%); */
	display: flex;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	height: 600px;
	padding: 40px 24px 0;
	color: #FFF;
	border-radius: 0 0 0 100px;
}

.hero h2 {
	font-size: 36px;
	font-weight: 600;
	font-style: normal;
	line-height: normal;
	margin: -2px 10px;
	text-align: center;
	letter-spacing: -1.08px;
}

.hero p {
	font-size: 18px;
	font-weight: 400;
	text-align: center;
}

.hero .buttons {
	display: flex;
	flex-wrap: wrap;
	margin-top: 38px;
	gap: 20px 20px;
	justify-content: center;
}

/* -------------------------------- Sections -------------------------------- */
/* ------------- Future -------------- */
.future {
	margin: 100px 0;
}

.future h3,
.future h4 {
	font-size: 28px;
	font-weight: 600;
	text-align: center;
	letter-spacing: -0.84px;
	color: #1F3E5A;
}

.future picture {
	display: flex;
	justify-content: center;
}

.future p {
	font-size: 16px;
	font-weight: 400;
	font-style: normal;
	line-height: 28px; /* 175% */
	max-width: 90%;
	margin: auto;
	text-align: center;
	letter-spacing: 0.5px;
	color: #4C5862;
}

/* ------------- Aside -------------- */
.future aside {
	max-height: 625px;
	margin-top: 273px;
	margin-bottom: 80px;
	padding: 0 12px;
	border-radius: 0 100px;
	background: center -240px/160% url(./images/bg-pattern-circles.svg) no-repeat,
	linear-gradient(135deg, #2D2E40 0%, #3F4164 100%);
}

.future .illustration {
	position: relative;
	top: -150px;
	display: flex;
	justify-content: center;
}

.future .illustration img {
	width: 375px;
}

.future .aside-text {
	position: relative;
	top: -200px;
}

.future .aside-text h4 {
	font-size: 40px;
	font-weight: 600;
	margin-bottom: 24px;
	letter-spacing: -1.2px;
	color: white;
}

.future .aside-text p {
	font-size: 16px;
	font-weight: 300;
	line-height: 28px; /* 175% */
	letter-spacing: 0.5px;
	color: white;
}

/* -------------------------------- Footer -------------------------------- */
footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 75px 0;
	text-align: center;
	color: white;
	border-radius: 0 100px 0 0;
	background-color: #24242C;
}

footer img {
	margin-bottom: 72px;
}

footer h4 {
	font-size: 18px;
	font-weight: 500;
	line-height: 33px; /* 183.333% */
}

footer div ul {
	font-family: system-ui,
	-apple-system,
	BlinkMacSystemFont,
	"Segoe UI",
	Roboto,
	Oxygen,
	Ubuntu,
	Cantarell,
	"Open Sans",
	"Helvetica Neue",
	sans-serif;
	font-size: 18px;
	line-height: 33px; /* 183.333% */
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

footer div ul a {
	cursor: pointer;
	transition: border-bottom 0.1s linear;
	text-decoration: none;
	opacity: 0.75;
	color: white;
	border-bottom: transparent solid 1px;
}

footer div ul a:hover {
	transition: border-bottom 0.1s linear;
	border-bottom: 1px solid white;
}

/* -------------------------------- Desktop -------------------------------- */
@media (min-width: 1050px) {
	/* -------------------------------- Header -------------------------------- */
	.links {
		display: flex;
	}

	.burger {
		display: none;
	}

	.hidden-burger-dropdown {
		display: inherit;
	}

	.dropdown-links {
		display: grid;
		width: inherit;
		position: relative;
		top: -25px;
		left: inherit;
		transform: inherit;
		grid-template-rows: 1fr;
		grid-template-columns: repeat(12, 1fr);
		grid-gap: 48px;
		margin-left: 48px;
		background-color: transparent;
	}

	.dropdown-links button {
		color: white;
		font-size: 16px;
	}

	.dropdown-links button::before {
		background: url("./images/icon-arrow-light.svg") no-repeat;
	}

	.dropdown-links .connection {
		grid-column: 10 / span 3;
	}

	.dropdown-links .connection ul {
		display: flex;
		flex-direction: row;
		padding: 0;
		border-top: inherit;
		align-items: center;
		margin: 0;
		gap: 10px;
		width: 100%;
		height: 100%;
	}

	.connection ul li {
		display: inline-block;
	}

	.connection ul li:first-child {
		margin-bottom: 0;
	}

	.connection ul a {
		color: white;
	}

	.dropdown-links div {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	.dropdown-links ul {
		background: white;
		margin: 0 10px;
		padding: 20px 50px 20px 20px;
		text-align: left;
	}

	.dropdown-links .connection ul {
		background: inherit;
	}

	.dropdown-links .dropdown {
		position: absolute;
		top: 75px;
	}

	/* -------------------------------- Hero -------------------------------- */
	.hero {
		background: -300px url(./images/bg-pattern-intro-desktop.svg),
		linear-gradient(135deg, #FF8F71 0%, #FF3E55 100%);
	}

	/* -------------------------------- Sections -------------------------------- */
	/* ------------------------ Future -------------------------- */
	.future {
		margin-top: 0;
		padding-bottom: 100px;
	}

	.future h3 {
		font-size: 40px;
		margin-top: 150px;
	}

	.future > div {
		display: flex;
		justify-content: center;
		position: relative;
	}

	.future > div:nth-of-type(1) {
		flex-direction: row-reverse;
		overflow: hidden;
	}

	.future > div:nth-of-type(1) > div:last-child {
		flex: 1.5 1 0px;
		text-align: left;
	}

	.future > div p, .future > div h4 {
		text-align: left;
		padding-left: 6rem;
		padding-right: 50px;
		margin-left: 0;
	}

	.future #graph-image {
		flex: 1 1 0px;
		position: relative;
	}

	.future #graph-image img {
		position: absolute;
		width: 150%;
		right: -200px;
		top: 50%;
		transform: translateY(-50%);
	}

	.future > div:nth-of-type(2) {
		margin-top: 300px;
		margin-bottom: 123px;
	}

	.future > div:nth-of-type(2) > div:last-child {
		flex: 1.5 1 0;
	}

	.future .laptop {
		flex: 1 1 0px;
		position: relative;
	}

	.future .laptop img {
		position: absolute;
		width: 150%;
		top: 50%;
		right: -50px;
		transform: translateY(-50%);
	}

	/* -------------------- Aside -------------------- */
	.future aside {
		background: -300px -600px/80% url(./images/bg-pattern-circles.svg) no-repeat,
		linear-gradient(135deg, #2D2E40 0%, #3F4164 100%);
		display: flex;
		flex-direction: row;
		align-items: center;
		min-height: 400px
	}

	.future .illustration {
		top: inherit;
		flex: 1 1 0;
		postition: relative;
		min-height: 400px;
	}

	.future .illustration img {
		position: absolute;
		height: 150%;
		width: auto;
		top: -75px;
	}

	.future .aside-text {
		top: 0;
		flex: 1 1 0;
		height: 50%;
		text-align: left;
	}

	.future .aside-text p {
		text-align: left;
	}

	.future .aside-text h4 {
		text-align: left;
		margin-left: 30px;
		margin-top: 0px;
	}

	/* ------------------------------- Footer ------------------------------- */
	footer {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		padding: 75px 100px;
	}

	footer div ul {
		justify-content: left;
		text-align: left;
	}

	footer div h4 {
		text-align: left;
	}
}
