---

---

<div class="flex flex-grow">
  <a
    id="button"
    class="flex w-full flex-grow cursor-pointer items-center justify-center rounded-lg bg-primary-idle py-2 text-white transition hover:bg-primary-hover"
  >
    <span class="flex min-h-10 items-center">Submit Answer</span>
  </a>
</div>

<script>
  document.addEventListener("astro:page-load", () => {
    console.log("page loaded");
    let isSubmitted = false;
    // get URL
    const url = window.location.href;
    // get last part of URL
    const lastPart = url.split("/").pop();
    console.log(lastPart);
    const button = document.getElementById("button");
    button.addEventListener(
      "click",
      () => {
        // When the answer is not submitted
        if (!isSubmitted) {
          button.children[0].textContent = "Next Question";
          isSubmitted = !isSubmitted;
          return;
        }

        // When the answer is submitted
        if (isSubmitted) {
          console.log("submitted");

          // check if the last part is a number
          if (parseInt(lastPart)) {
            /**
             * @TODO Change the hard 10 to the number of questions
             */
            const nextQuestion =
              parseInt(lastPart) < 10 ? parseInt(lastPart) + 1 : "score";
            button.href = `/${nextQuestion}`;
          }
          return;
        }
      },
      { once: false },
    );
  });
</script>
