---
import Navbar from './Navbar.astro'
import { Image } from 'astro:assets'
import Logo from '../assets/shared/logo.svg'
---
<header class="flex items-center fixed justify-between w-full max-w-[1440px] mt-8 lg:mt-0 z-50">
    <div class="flex items-center sm:py-5">
		<Image src={Logo} alt="Logo Space Tourism" />
		<span class="h-[1px] w-[30vw] max-w-[473px] bg-white  block ml-[7em] absolute z-10 xl:hidden"></span>
    </div>
    <Navbar />
</header>