---

---
<nav class="relative transform -translate-x-[110px]">
    <div class="absolute -z-10 bg-white bg-opacity-5 backdrop-blur-2xl w-screen h-full"></div>
    <ul class="flex justify-center min-h-[100px] nav-text uppercase pl-[123px] pr-32 gap-[48px]">
        <li class="h-[100px] flex items-center"><a href="/"><span class="font-bold">00</span> Home</a></li>
		<li class="h-[100px] flex items-center"><a href="/destination"><span class="font-bold">01</span> Destination</a></li>
		<li class="h-[100px] flex items-center"><a href="/crew"><span class="font-bold">02</span> Crew</a></li>
		<li class="h-[100px] flex items-center"><a href="/technology"><span class="font-bold">03</span> Technology</a></li>
    </ul>
</nav>
