---
const { planetsID } = Astro.props

const pathname = new URL(Astro.request.url).pathname
const currentPath = pathname.slice(1)
const firstPath = `/${currentPath.split('/')[1]}`
---

	<nav transition:name={`nav-text`} class="nav-text">
		<ul class="flex lg:justify-center gap-8 md:gap-4 text-center">
            {planetsID.map((id) => (
				<li class=` ${firstPath === "/"+id ? "active text-white pointer-events-none": ""} text-primary py-3 overflow-hidden`>
					<a href={`/destination/${id}`} class=`uppercase text-center` data-astro-history="replace">
                        {id}
					</a>
				</li>
            ))}
		</ul>
	</nav>
