---
import "@fontsource/inter";
import "../styles/style.css";
import InputField from "../components/InputField.astro";
import RadioButton from "../components/RadioButton.astro";
import BmiCard from "../components/BmiCard.astro";
import { Image } from "astro:assets";

import logo from "../images/logo.svg";
import imageMan from "../images/image-man-eating.webp";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>BMI Calculator</title>
	</head>
	<body>
		<header>
			<Image src={logo} alt="Logo BMI Calculator" />
		</header>
		<main>
			<h1>Body Mass Index Calculator</h1>
			<p>
				Better understand your weight in relation to your height using our body
				mass index (BM) calculator. While BMI is not the sole determinant of a
				healthy weight, it offers a valuable starting point to evaluate your
				overall health and well-being.
			</p>
			<section>
				<BmiCard />
			</section>
			<section>
				<Image src={imageMan} alt="Man eating sushi" />
				<h2>What your BMI result means</h2>
				<p>
					A BMI range of 18.5 to 24.9 is considered a 'healthy weight.'
					Maintaining a healthy weight may lower your chances of experiencing
					health issues later on, such as obesity and type 2 diabetes. Aim for a
					nutritious diet with reduced fat and sugar content, incorporating
					ample fruits and vegetables. Additionally, strive for regular physical
					activity, ideally about 30 minutes daily for five days a week.
				</p>
			</section>
		</main>
	</body>
</html>
