---
import Layout from '../layout/Layout.astro'
import Button from '../components/Button.astro'
import HomeBg from '../assets/home/background-home-desktop.jpg'
---
<Layout bg={HomeBg.src}>
	<main transition:animate="fade" class="grid grid-cols-12 h-screen ">
		<div class="col-span-4 col-start-2 row-start-4">
			<h1 class="heading-5 uppercase">
				So, you want to travel to <span class="block heading-1">Space</span>
			</h1>
			<p>
				Let’s face it; if you want to go to space, you might as well genuinely go to outer space and not hover kind of on the edge of it. Well sit back, and relax because we’ll give you a truly out of this world experience!
			</p>
		</div>
		<div class=" col-span-5 col-start-10 row-start-4 flex items-center">
			<Button href="/">Explore</Button>
		</div>
	</main>
</Layout>

