---
import Layout from '../layout/Layout.astro'
import Button from '../components/Button.astro'
import HomeBgDesk from '../assets/home/background-home-desktop.jpg'
import HomeBgMobile from '../assets/home/background-home-mobile.jpg'
import HomeBgTablet from '../assets/home/background-home-tablet.jpg'

const HomeBg = {
	desktop: HomeBgDesk,
	mobile: HomeBgMobile,
	tablet: HomeBgTablet
}
---
<Layout bg={HomeBg}>
	<main transition:animate="fade" class="grid grid-cols-12 h-screen grid-rows-4 ">
		<div class="col-span-6 col-start-2 row-start-2 row-span-3 flex items-center md:row-start-1 md:col-start-1 md:col-span-12 md:text-center justify-center">
			<div>
				<h1 class="heading-5 uppercase text-primary">
					So, you want to travel to <span class="block heading-1 md:h-[150px] md:-mt-5">Space</span>
				</h1>
				<p class="md:max-w-[444px]">
					Let’s face it; if you want to go to space, you might as well genuinely go to outer space and not hover kind of on the edge of it. Well sit back, and relax because we’ll give you a truly out of this world experience!
				</p>
			</div>
		</div>
		<div class=" col-span-5 col-start-10 row-start-3 flex items-center xl:col-start-9 md:row-span-2 md:row-start-3 md:col-start-1 md:col-span-12 md:justify-center md:items-center md:mt-12 sm:mt-6">
			<Button href="/destination">Explore</Button>
		</div>
	</main>
</Layout>

