/* Import Tailwind style */
@import 'tailwind.css';

/* Import base styles */
@import 'base.css';

/* Import Fonts */
@import 'fonts.css';

/* Custom styles */

.heading-1{
    @apply font-bellefair text-heading-1 text-white font-normal xl:text-[120px] sm:text-[80px];
}
.heading-2{
    @apply font-bellefair text-heading-2 text-white font-normal md:text-[80px] sm:text-heading-3;
}
.heading-3{
    @apply font-bellefair text-heading-3 text-white font-normal md:text-[40px] sm:text-[24px];
}
.heading-4{
    @apply font-bellefair text-heading-4 text-white font-normal md:text-[24px] sm:text-[16px];
}
.heading-5{
    @apply font-barlow-condensed text-heading-5 font-normal tracking-heading-5 md:text-[20px] md:tracking-[3.38px] sm:text-[16px] sm:tracking-[2.7px];
}
.subheading-1{
    @apply font-bellefair text-subheading-1 text-white font-normal md:text-[22px];
}
.subheading-2{
    @apply font-barlow-condensed text-subheading-2 font-normal tracking-subheading-2;
}
.nav-text{
    @apply font-barlow-condensed text-nav font-normal tracking-nav md:text-[14px] sm:text-[16px] md:tracking-[2.36px];
}

.btn {
    @apply text-heading-4 sm:text-[20px] font-bellefair uppercase bg-white text-black rounded-full size-[274px] xl:size-[242px] sm:size-[150px] flex justify-center items-center relative
}
.btn .circle {
    @apply bg-white bg-opacity-15 size-[274px] xl:size-[242px] sm:size-[150px] rounded-full absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 pointer-events-none -z-10
}
.btn:hover .circle {
    @apply size-[450px] md:size-[400px] sm:size-[250px]
}



.active {
    @apply relative;
}
.active-hover:hover::after{
    @apply content-[''] bg-primary opacity-45 absolute bottom-0 left-0 right-0 h-[4px] w-full transition-[height] duration-300 ease-in-out;
}
.active::after {
    @apply content-[''] bg-primary absolute bottom-0 left-0 right-0 h-[4px] w-full transition-[height] duration-300 ease-in-out;
}

.tres-container{
    @apply size-[400px] lg:size-[300px] md:size-[40vw] sm:size-[50vw] max-w-[400px] md:max-w-[250px] md:max-h-[250px] sm:max-w-[200px] sm:max-h-[200px]
}

body{
    /*cursor: none;*/
}

canvas{
    @apply w-full h-full;
}

.burger-nav{
    -webkit-backdrop-filter: blur(9999px);
}

.burger {
    width: 64px;
    height: 48px;
    padding: 16px 16px 0;
    cursor: pointer;
}

.bar {
    width: 32px;
    height: 2px;
    background-color: #FFF;
}

.bar:nth-child(1) {
    position: relative;
    top: 0;
    transition: all 0.2s linear, top 0.2s 0.2s linear;
}

.bar:nth-child(2) {
    margin: 6px auto;
    transition: margin 0.2s 0.2s linear,
    background-color 0s 0.2s linear;
}

.bar:nth-child(3) {
    transition: transform 0.2s linear, top 0.2s 0.2s linear;
    position: relative;
    top: 0;
}

.toggle .bar:nth-child(2) {
    transition: background-color 0s 0.2s linear;
    background-color: transparent;
}

.toggle .bar:nth-child(1) {
    top: 8px;
    transition: top 0.2s linear, transform 0.2s 0.2s linear;
    transform: rotate(45deg);
}

.toggle .bar:nth-child(3) {
    top: -8px;
    transition: transform 0.2s 0.2s linear, top 0.2s linear;
    transform: rotate(-45deg);
}

@media (min-width: 1025px) {
    .bg-home{
        background-image: url("../assets/home/background-home-desktop.jpg");
    }
}
@media (max-width: 1024px) {
    .bg-home{
        background-image: url("../assets/home/background-home-tablet.jpg");
    }
}
@media (max-width: 640px) {
    .bg-home{
        background-image: url("../assets/home/background-home-mobile.jpg");
    }
}
@media (min-width: 1025px) {
    .bg-destination{
        background-image: url("../assets/destination/background-destination-desktop.jpg");
    }
}

@media (max-width: 1024px) {
    .bg-destination{
        background-image: url("../assets/destination/background-destination-tablet.jpg");
    }
}
@media (max-width: 640px) {
    .bg-destination{
        background-image: url("../assets/destination/background-destination-mobile.jpg");
    }
}
@media (min-width: 1025px) {
    .bg-crew{
        background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/crew/background-crew-desktop.jpg");
    }
}
@media (max-width: 1024px) {
    .bg-crew{
        background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/crew/background-crew-tablet.jpg");
    }
}
@media (max-width: 640px) {
    .bg-crew{
        background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/crew/background-crew-mobile.jpg");
    }
}
@media {
    .bg-technology{
        background-image: url("../assets/technology/background-technology-desktop.jpg");
    }
}
@media (max-width: 1024px) {
    .bg-technology{
        background-image: url("../assets/technology/background-technology-tablet.jpg");
    }
}
@media (max-width: 640px) {
    .bg-technology{
        background-image: url("../assets/technology/background-technology-mobile.jpg");
    }
}

.cursor {
    pointer-events: none;
}
.cursor__ball {
    position: fixed;
    top: 0;
    left: 0;
    mix-blend-mode: difference;
    z-index: 1000;
}
circle {
    fill: #f7f8fa;
}