---
import { ViewTransitions } from 'astro:transitions';
import { Image } from 'astro:assets'
import Header from '../components/Header.astro'
const {title, description, bg} = Astro.props
import '../style/global.css'

const navLink = [
    {
        name: 'Home',
        link: '/'
    },
    {
        name: 'Destination',
        link: '/destination'
    },
    {
        name: 'Crew',
        link: '/crew'
    },
    {
        name: 'Technology',
        link: '/technology'
    }
]

const pathname = new URL(Astro.request.url).pathname
const currentPath = pathname.slice(1)
const firstPath = `${currentPath.split('/')[0] === '' ? 'home' : currentPath.split('/')[0]} `
---
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" href="/favicon.svg" type="image/x-icon" />
        <title>{title}</title>
        <meta name="description" content={description} />
		<ViewTransitions />
    </head>
    <body class=`bg-black min-h-screen bg-no-repeat bg-${firstPath} bg-cover`>
        <div class=`bg-${firstPath} h-full w-full bg-cover absolute -z-10`></div>
        <div class="mx-auto xl:max-w-[1024px] max-w-[1440px] px-[55px] lg:px-4">
			<Header />
            <slot />
        </div>
    </body>
</html>
