---
import { ViewTransitions } from 'astro:transitions';
import Header from '../components/Header.astro'
const {title, description} = Astro.props
import '../style/global.css'
---
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        // favicon
        <link rel="icon" href="/favicon.svg" type="image/x-icon" />
        <title>{title}</title>
        <meta name="description" content={description} />
		<ViewTransitions />
    </head>
    <body class="bg-black">
        <Header transition:persist/>
        <slot />
    </body>
</html>