---
import Layout from "@layout/Layout.astro";
import Button from "@components/Button.astro";
import Selection from "../components/Selection.astro";
---

<Layout title="Test">
  <div class="container mx-auto flex w-1/2 flex-col gap-4 px-2">
    <Selection answer="test" correctAnswer="test" order={0} />
    <Selection answer="test 1" correctAnswer="test" order={1} />
    <Selection answer="test 2" correctAnswer="test" order={2} />

    <Selection answer="test 3" correctAnswer="test" order={3} />
    <Button />
  </div>
</Layout>
